{
    "openapi": "3.0.0",
    "info": {
        "title": "Tomato Scan API Documentation",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://tomascan.nurulmustofa.my.id",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000",
            "description": "localhost Server"
        }
    ],
    "paths": {
        "/api/getAfterScan": {
            "post": {
                "tags": [
                    "Scan"
                ],
                "summary": "Get details of scanned disease",
                "description": "Retrieve details of a disease including its schedules, solutions, and pest based on the provided disease name.",
                "operationId": "getAfterScan",
                "parameters": [
                    {
                        "name": "disease",
                        "in": "query",
                        "description": "Name of the disease to retrieve details for",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Bacterial_spot"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Disease details including schedules, solutions, and pest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "disease": {
                                            "description": "Name of the disease",
                                            "type": "string",
                                            "example": "Bacterial_spot"
                                        },
                                        "schedule": {
                                            "description": "List of schedules related to the disease",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "time": {
                                                        "type": "string",
                                                        "example": "07:00 - 09:00"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Penyiraman tanaman secara rutin"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "solutions": {
                                            "description": "List of solutions related to the disease",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Pemberian Pupuk Organik"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Gunakan pupuk organik untuk meningkatkan kesuburan tanah."
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "pest": {
                                            "description": "List of pests related to the disease",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Kutu Daun (Aphids)"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Disease not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Disease not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Internal server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "operationId": "8a56853624e025573120a09a4c75d468",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "JohnDoe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logged in successfully"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send reset password OTP to email",
                "operationId": "7af8817e88ba5874543ff38f188248f1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent to your email."
                    },
                    "404": {
                        "description": "Email not found."
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset user password using OTP",
                "operationId": "00c0aad74830221c6da409a1355ec736",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "902520"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password successfully reset."
                    },
                    "400": {
                        "description": "Invalid or expired OTP."
                    },
                    "404": {
                        "description": "User not found."
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/verify-otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify OTP for password reset",
                "operationId": "7809ddcd47cab2525ccd43d1c2031bfd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "902520"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified successfully."
                    },
                    "400": {
                        "description": "Invalid or expired OTP."
                    },
                    "404": {
                        "description": "Email not found."
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "description": "Logout the authenticated user and invalidate the token.",
                "operationId": "fe8f3429cd6979b3b4517e186505f9f9",
                "responses": {
                    "200": {
                        "description": "Successfully logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Token is invalid or missing"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/update-profile": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Update user profile",
                "description": "Allows an authenticated user to update their profile details.",
                "operationId": "677d2e27d1689c79a1d50dccecc96cdf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "NewUsername"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Profile updated successfully."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "UpdatedUsername"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "updatedemail@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get user by ID",
                "description": "Retrieve user details based on their ID.",
                "operationId": "602ed1b02750bd3ef7865cecb4ee588e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the user to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User details retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "username": {
                                            "type": "string",
                                            "example": "JohnDoe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "johndoe@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/histories": {
            "get": {
                "tags": [
                    "Histories"
                ],
                "summary": "Get all histories",
                "description": "Returns a list of all histories.",
                "operationId": "getAllHistories",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/History"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Histories"
                ],
                "summary": "Create a new history",
                "description": "Creates a new history record and returns it.",
                "operationId": "createHistory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "id_user",
                                    "id_disease",
                                    "image_path"
                                ],
                                "properties": {
                                    "id_user": {
                                        "description": "ID of the user",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "id_disease": {
                                        "description": "ID of the disease",
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "image_path": {
                                        "description": "Uploaded image file",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "History created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/History"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/histories/user/{id_user}": {
            "get": {
                "tags": [
                    "Histories"
                ],
                "summary": "Get histories by user ID",
                "description": "Returns a list of histories for a specific user.",
                "operationId": "getHistoriesByUser",
                "parameters": [
                    {
                        "name": "id_user",
                        "in": "path",
                        "description": "ID of the user",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/History"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "No histories found for this user"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/informatifs": {
            "get": {
                "tags": [
                    "Informatif"
                ],
                "summary": "Get all informatifs",
                "description": "Retrieve a list of all informatifs",
                "operationId": "indexInformatifs",
                "responses": {
                    "200": {
                        "description": "List of informatifs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Informatif"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Informatif"
                ],
                "summary": "Create a new Informatif",
                "description": "Create a new informatifs with an image",
                "operationId": "storeInformatif",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "type",
                                    "content"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Tomato Planting Tips"
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "Planting"
                                    },
                                    "content": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Informatif created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Informatif created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Informatif"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/informatifs/{id}": {
            "get": {
                "tags": [
                    "Informatif"
                ],
                "summary": "Get a single informatifs",
                "description": "Retrieve details of a specific informatifs by its ID",
                "operationId": "showInformatif",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informatif details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Informatif"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Informatif not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Informatif"
                ],
                "summary": "Update an existing Informatif",
                "description": "Update the informatifs by its ID",
                "operationId": "updateInformatif",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "title",
                                    "type"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Updated Tomato Planting Tips"
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "Planting"
                                    },
                                    "content": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Informatif updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Informatif updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Informatif"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Informatif"
                ],
                "summary": "Delete an Informatif",
                "description": "Delete a specific informatifs by its ID",
                "operationId": "destroyInformatif",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informatif deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Informatif deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Informatif not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/pests-and-diseases": {
            "get": {
                "tags": [
                    "PestAndDisease"
                ],
                "summary": "Get all pests and diseases",
                "description": "Display a listing of the resource.",
                "operationId": "62978f1cfaab67390742831f797e215a",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "PestAndDisease"
                ],
                "summary": "Create a new pest or disease",
                "description": "Store a newly created resource in storage.",
                "operationId": "eafab6078f4fc0f63f5d56b234e7195c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "warning": {
                                        "type": "string"
                                    },
                                    "genus": {
                                        "type": "string"
                                    },
                                    "scientific_name": {
                                        "type": "string"
                                    },
                                    "aliases": {
                                        "type": "string"
                                    },
                                    "symptoms": {
                                        "type": "string"
                                    },
                                    "solutions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "source": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/pests-and-diseases/{id}": {
            "get": {
                "tags": [
                    "PestAndDisease"
                ],
                "summary": "Get a pest or disease by ID",
                "description": "Display the specified resource.",
                "operationId": "23ff29793556a81c90cd53a1c049031d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "PestAndDisease"
                ],
                "summary": "Update a pest or disease",
                "description": "Update the specified resource in storage.",
                "operationId": "1719efac5c6c03ecd04533b14b31100c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "warning": {
                                        "type": "string"
                                    },
                                    "genus": {
                                        "type": "string"
                                    },
                                    "scientific_name": {
                                        "type": "string"
                                    },
                                    "aliases": {
                                        "type": "string"
                                    },
                                    "symptoms": {
                                        "type": "string"
                                    },
                                    "solutions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "source": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "PestAndDisease"
                ],
                "summary": "Delete a pest or disease",
                "description": "Remove the specified resource from storage.",
                "operationId": "5bad8db8f70df8b728668269b487f5ee",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "History": {
                "required": [
                    "id_user",
                    "id_disease",
                    "label"
                ],
                "properties": {
                    "id": {
                        "description": "ID of the history",
                        "type": "integer"
                    },
                    "id_user": {
                        "description": "ID of the user",
                        "type": "integer"
                    },
                    "id_disease": {
                        "description": "ID of the disease",
                        "type": "integer"
                    },
                    "image_path": {
                        "description": "Path to the image",
                        "type": "string",
                        "nullable": true
                    },
                    "created_at": {
                        "description": "Timestamp when the history was created",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Timestamp when the history was last updated",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Informatif": {
                "required": [
                    "id",
                    "title",
                    "type",
                    "content"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "Tomato Planting Tips"
                    },
                    "type": {
                        "type": "string",
                        "example": "Planting"
                    },
                    "content": {
                        "type": "string",
                        "example": "informatif_image.jpg"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Enter your bearer token in the format: Bearer <your-token>",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Scan",
            "description": "Scan"
        },
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "User",
            "description": "User"
        },
        {
            "name": "Histories",
            "description": "Histories"
        },
        {
            "name": "Informatif",
            "description": "Informatif"
        },
        {
            "name": "PestAndDisease",
            "description": "PestAndDisease"
        }
    ]
}